<!DOCTYPE html>
<html ng-app="GestionarApp" lang="en">

<head>



  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
<script src="js/moment.js"></script>
  <title>Cobertec Salud - Administración</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/sb-admin.css" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="css/plugins/morris.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/angular-material.min.css">
  <link href="css/personalizados.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOkGTt9AJxzzYno8zxVsq5NG9GfJQiEvo&libraries=places" async defer></script>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOkGTt9AJxzzYno8zxVsq5NG9GfJQiEvo&libraries=places"
        async defer></script> -->
  <!-- REFERENCIAS JS -->
  
  <script src="js/libraries/angular.min.js"></script>
  <script src="js/libraries/angular-ui-router.min.js"></script>
  <script src="js/libraries/angular-animate.min.js"></script>
  <script src="js/libraries/angular-aria.min.js"></script>
  <script src="js/libraries/angular-messages.min.js"></script>
  <script src="js/libraries/angular-material.min.js"></script>
  <script src="js/libraries/ng-file-upload.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/lodash.js"></script>
  <script src="js/libraries/moment.js"></script>
  <script src="js/map-directives.js"></script>
  <script src="js/jquery-3.1.0.js"></script>
  <script src="js/jquery-ui.min.js"></script>

  <!-- Decode tokens -->
  <script src="node_modules/jwt-decode/build/jwt-decode.min.js"></script>
  <script src="node_modules/socket.io-client/dist/socket.io.dev.js"></script>

  <!--Login-->
  <!--<script src="js/login/login.js"></script>
  <script src="js/login/serviceslogin.js"></script>-->
  <script src="js/login/scripts.js"></script>
  <script src="js/login/jquery.backstretch.min.js"></script>
  

  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
 -->

   <!-- LOADING -->
   <link rel='stylesheet' href='build/loading-bar.min.css' type='text/css' media='all' />
   
   <script type='text/javascript' src='build/loading-bar.min.js'></script>

<link rel="stylesheet" href="node_modules/animate.css/animate.min.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<div ui-view="login"></div>
<body style="overflow: auto; background-color: whitesmoke;" ng-controller="permisosCrt">
  
  <div id="wrapper" ng-style="estiloWrapper">
    <div id="controllerpiola">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-if="!enLogin" style="background-color: #2c2d3a; border-color: #2c2d3a;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand" href="index.html">COBERTEC</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
          <li class="dropdown">
            <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{userName}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#"><i class="fa fa-fw fa-key"></i> Cambiar Contraseña</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#" ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav" style="background-color: #2c2d3a;">
            <li style="">
              <a href="#" ui-sref="solicitudes" ng-show="PS.tienePermiso('solicitud')"><i class="fa fa-fw fa-calendar"></i> Solicitudes</a>
            </li>
            <li style="">
              <a href="#" ui-sref="historialCompleto" ng-show="PS.tienePermiso('historialCompleto')"><i class="fa fa-fw fa-calendar"></i> Historial completo</a>
            </li>

            <li ng-show="PS.tienePermiso('auditoria') || PS.tienePermiso('hauditoria')">
              <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-thumbs-up"></i> Auditoría de Solicitudes <i class="fa fa-fw fa-caret-down"></i></a>
              <ul id="demo2" class="collapse">
                <li style="background-color: aliceblue; color: white;" ng-show="PS.tienePermiso('auditoria')">
                  <a href="#" ui-sref="auditoria" style="color: black;" ><i class="fa fa-fw fa-thumbs-up"></i> Auditar Solicitudes</a>
                </li>
                <li style="background-color: aliceblue; color: white;" ng-show="PS.tienePermiso('hauditoria')">
                  <a href="#" ui-sref="hauditoria" style="color: black;"><i class="fa fa-fw fa-calendar"></i> Historial de Auditoría</a>
                </li>
              </ul>
            </li>






             <!--ng-show="PS.tienePermiso('afiliados')|PS.tienePermiso('afiliados')|PS.tienePermiso('medicos')|PS.tienePermiso('clinicas')|PS.tienePermiso('farmacias')|PS.tienePermiso('especialidades')"-->
            <li ng-show="PS.tienePermiso('afiliado') || PS.tienePermiso('climed') || PS.tienePermiso('farmacia') || PS.tienePermiso('especialidad')">
              <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-cubes"></i> ABMS <i class="fa fa-fw fa-caret-down"></i></a>
              <ul id="demo2" class="collapse">
                <li style="background-color: aliceblue; color: white;" ng-show="PS.tienePermiso('afiliado')">
                  <a href="#" ui-sref="abmafi" style="color: black;" ><i class="fa fa-fw fa-dot-circle-o"></i> Afiliados</a>
                </li>
                <li style="background-color: aliceblue; color: white;" ng-show="PS.tienePermiso('climed')">
                  <a href="#" ui-sref="abmmed" style="color: black;"><i class="fa fa-fw fa-dot-circle-o"></i> Medicos</a>
                </li>
                <!--<li style="background-color: aliceblue; color: white;" ng-show="PS.tienePermiso('medico')">
                  <a href="#" ui-sref="abmcli" style="color: black;" ><i class="fa fa-fw fa-hospital-o"></i> Clínicas</a>
                </li>-->
                <li style="background-color: aliceblue; color: white;" ng-show="PS.tienePermiso('farmacia')">
                  <a href="#" ui-sref="abmfar" style="color: black;"><i class="fa fa-fw fa-dot-circle-o"></i> Farmacias</a>
                </li>
                <li style="background-color: aliceblue; color: white;" ng-show="PS.tienePermiso('especialidad')">
                  <a href="#" ui-sref="abmesp" style="color: black;"><i class="fa fa-fw fa-dot-circle-o"></i> Especialidades</a>
                </li>
              </ul>
            </li>
            <li style="" ng-show="PS.tienePermiso('user')">
              <a href="index.html" ui-sref="usuarios"><i class="fa fa-fw fa-user"></i> Gestión de Usuarios</a>
            </li>
            
            <li style="">
              <a href="#" ui-sref="recomendacion" ng-show="PS.tienePermiso('recomendacion')"><i class="fa fa-fw fa-check"></i> Recomendaciones</a>
            </li>
            <li style="">
              <a href="#" ui-sref="estadisticas" ng-show="PS.tienePermiso('reporteSolicitudes')"><i class="fa fa-fw fa-bar-chart-o"></i> Estadisticas</a>
            </li>
            <div style="display: none;">
              <li>
                <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
              </li>
              <li>
                <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
              </li>
              <li>
                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
              </li>
              <li>
                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
              </li>
              <li>
                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
              </li>
              <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                  <li>
                    <a href="#">Dropdown Item</a>
                  </li>
                  <li>
                    <a href="#">Dropdown Item</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
              </li>
              <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
              </li>
            </div>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
      <!-- Navigation -->

      <div id="page-wrapper" style="background-color: whitesmoke; height: 100%;">
        <div ui-view>

        </div>
      </div>
      <!-- /#page-wrapper -->
    </div>

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Morris Charts JavaScript -->
  <script src="js/plugins/morris/raphael.min.js"></script>
  <script src="js/plugins/morris/morris.min.js"></script>
  <script src="js/plugins/morris/morris-data.js"></script>
    <script src="js/directives.js"></script>

</body>

</html>
