<div style="overflow: auto; padding: 10px; padding-top: 60px;">
  <md-content class="main-card">
    <div id="mensaje"></div>
    
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Alta">
        <md-content class="">

          <div class="row">
            <div class="col-md-12">
              <div class="titulo">
                Alta de un nuevo afiliado
              </div>
            </div>
          </div>
          <div class="row">
            <div class="panel panel-default col-md-10 col-md-offset-1" style="margin-top: 20px;">
              <div class="panel-body">

                <div class="col-md-12">
                  <form name="altafrm" ng-submit="Alta()">
                    <div class="form-group row">
                      <div class="col-md-5">
                        <label for="nombre" style="color: #1E4599">
                          <i class="fa fa-fw fa-user"></i>Nombre</label>
                        <input type="text" class="form-control" ng-model="nombre" placeholder="Nombre" required>
                        <i>
                          <a style="color:red;">{{errorText.NOMBRE}}
                            <a>
                        </i>
                      </div>
                      <div class="col-md-4">
                        <label for="apellido" style="color: #1E4599">
                          <i class="fa fa-fw fa-leaf"></i>Apellido</label>
                        <input type="text" class="form-control" ng-model="apellido" placeholder="Apellido" required>
                        <a style="color:red;">{{errorText.APELLIDO}}</a>
                      </div>
                      <div class="col-md-3">
                        <label for="dni" style="color: #1E4599">
                          <i class="fa fa-fw fa-credit-card"></i>DNI</label>
                        <input type="number" class="form-control" ng-model="dni" placeholder="DNI" required>
                        <i>
                          <a style="color:red;">{{errorText.DNI}}</a>
                        </i>
                      </div>
                    </div>

                    <div class="form-group row" style="margin-top: 30px;">
                      <div class="col-md-3">
                        <label for="nafiliado" style="color: #1E4599">
                          <i class="fa fa-fw fa-dedent"></i>Nº Afiliado</label>
                        <input type="text" class="form-control" ng-model="nafiliado" placeholder="Nº Afiliado" required>
                        <i>
                          <a style="color:red;">{{errorText.NAFILIADO}}</a>
                        </i>
                      </div>
                      <div class="col-md-5">
                        <label for="obrasocial" style="color: #1E4599">
                          <i class="fa fa-fw fa-medkit"></i>Obra social</label>
                        <select class="form-control" ng-model="obrasocial" required>
                          <option value="" selected disabled hidden>{{CargandoOS}}</option>
                          <option ng-repeat="x in obrasSociales" ng-value="x.id">
                            {{x.nombre}}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="nacimiento" style="color: #1E4599">
                          <i class="fa fa-fw fa-drupal"></i>Fecha Nacimiento</label>
                        <input type="date" class="form-control" ng-model="nacimiento" placeholder="Nacimiento.." required>
                        <i>
                          <a style="color:red;">{{errorText.NACIMIENTO}}</a>
                        </i>
                      </div>
                    </div>

                    <div class="form-group row" style="margin-top: 30px;">
                      <div class="col-md-4">
                        <label for="cuil" style="color: #1E4599">
                          <i class="fa fa-fw fa-dedent"></i>Cuil</label>
                        <input type="number" class="form-control" ng-model="cuil" placeholder="Cuil" required>
                        <i>
                          <a style="color:red;">{{errorText.CUIL}}</a>
                        </i>
                      </div>
                      <div class="col-md-4">
                        <label for="telefono" style="color: #1E4599">
                          <i class="fa fa-fw fa-phone"></i>Telefono</label>
                        <input type="number" class="form-control" ng-model="telefono" placeholder="Telefono" required>
                        <i>
                          <a style="color:red;">{{errorText.TELEFONO}}</a>
                        </i>
                      </div>
                      <div class="col-md-4">
                        <label for="celular" style="color: #1E4599">
                          <i class="fa fa-fw fa-mobile"></i>Celular</label>
                        <input type="number" class="form-control" ng-model="celular" placeholder="Celular" required>
                        <i>
                          <a style="color:red;">{{errorText.CELULAR}}</a>
                        </i>
                      </div>
                    </div>

                    <div class="form-group row" style="margin-top: 30px;">
                      <div class="col-md-4">
                        <label for="domicilio" style="color: #1E4599">
                          <i class="fa fa-fw fa-map-marker"></i>Domicilio</label>
                        <input type="text" class="form-control" ng-model="domicilio" placeholder="Domicilio" required>
                        </i>
                        <a style="color:red;">{{errorText.DIRECCION}}</a>
                        </i>
                      </div>
                      <div class="col-md-2">
                        <label for="piso" style="color: #1E4599">
                          <i class="fa fa-fw fa-phone"></i>Piso</label>
                        <input type="number" class="form-control" ng-model="piso" placeholder="Piso">
                        <i>
                          <a style="color:red;">{{errorText.PISO}}</a>
                        </i>
                      </div>
                      <div class="col-md-2">
                        <label for="departamento" style="color: #1E4599">
                          <i class="fa fa-fw fa-mobile"></i>DPTO</label>
                        <input type="number" class="form-control" ng-model="departamento" placeholder="Departamento">
                        </i>
                        <a style="color:red;">{{errorText.DEPARTAMENTO}}</i>
                      </div>
                      <div class="col-md-4">
                        <label for="email" style="color: #1E4599">
                          <i class="fa fa-fw fa-email"></i>Email</label>
                        <input type="text" class="form-control" ng-model="email" placeholder="Email" required>
                        <i>
                          <a style="color:red;">{{errorText.EMAIL}}</a>
                        </i>
                      </div>
                    </div>
                    <div class="row">
                      <div CLASS="col-md-6 ">
                        <i>
                          <a style="color:red;">{{errorMsj}}</a>
                        </i>
                      </div>
                      <div class="col-md-2 col-md-offset-4">
                        <button style="margin-bottom: 10px; width: 100%;" type="submit" class="Boton Primary" ng-click="submit">
                          <b>Alta</b>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>

        </md-content>
      </md-tab>
      <md-tab label="Baja/Modificacion" ng-click="ObtenerAfiliados()" style="position:fixed;">
        <md-content>
          <div class="row">
            <div class="col-md-12">
              <div class="titulo">
                Baja / Modificación de Afiliados
              </div>
            </div>
          </div>
          <div class="row" style="padding: 10px;">
            <div class="col-md-12">
              
              <div class="panel panel-default col-md-12" style="margin-top: 20px; padding: 0px;">
                <!-- Default panel contents -->
                <div class="subtitulo">Afiliados disponibles</div>

                <!-- Table -->
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr ng-click="getPrimeraPagina()">
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.nafiliado">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.nombre">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.apellido">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.dni">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.obra_social">
                      </td>
                      <td></td>
                    </tr>
                    <tr style="color: #1E4599; background-color: #f5f5f5">
                      <td style="width: 10%;">
                        <a ng-click="sortType = 'nafiliado'; sortReverse = !sortReverse">
                          Nº Afiliado
                          <span ng-show="sortType == 'nafiliado' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'nafiliado' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                          Nombre
                          <span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'apellido'; sortReverse = !sortReverse">
                          Apellido
                          <span ng-show="sortType == 'apellido' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'apellido' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td style="width: 10%;">
                        <a ng-click="sortType = 'dni'; sortReverse = !sortReverse">
                          DNI
                          <span ng-show="sortType == 'dni' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'dni' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'obrasocial'; sortReverse = !sortReverse">
                          Obra social
                          <span ng-show="sortType == 'obrasocial' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'obrasocial' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>Opciones</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="6" style="color: #337ab7;" ng-if="afiliados == undefined">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Cargando.. </td>
                    </tr>
                    <tr ng-repeat="x in afiliados | orderBy:sortType:sortReverse | filter:filtro as filteredElems track by $index" ng-if="separarPaginas($index)">
                      <td style="vertical-align: middle;">{{x.nafiliado}}</td>
                      <td style="vertical-align: middle;">{{x.nombre}}</td>
                      <td style="vertical-align: middle;">{{x.apellido}}</td>
                      <td style="vertical-align: middle;">{{x.dni}}</td>
                      <td style="vertical-align: middle;">{{x.obra_social.nombre}}</td>
                      <td style="vertical-align: middle;">
                        <button ng-disabled="modificando" class="Boton Primary" style="padding: 5px;" ng-click="Editar(x)">
                          <i class="fa fa-fw fa-edit"></i> Editar
                        </button>
                        <button ng-disabled="modificando" class="Boton Danger" style="margin-left: 5px; padding: 5px;" ng-click="Eliminar($event,x)">
                          <i class="fa fa-fw fa-trash"></i> Eliminar
                        </button>

                    </tr>
                  </tbody>
                  <tfoot>
                    <tr >
                      <td colspan="6" style="text-align: center;">
                        <paginado></paginado>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="row" ng-show="modificando" style="padding: 10px;">
            <div class="col-md-12">
              <div class="panel panel-default col-md-12" style="margin-top: 20px; padding: 0px;">
                <div class="panel-heading" style="background-color: #FA4081; font-size: 12pt; color: white;">Editando Afiliado
                  <button type="button" ng-click="afiliadoModificando = undefined; modificando = false; ObtenerAfiliados();"
                    class="close" aria-hidden="true">&times;</button>
                </div>
                <div class="panel-body">
                  <div class="col-md-12">
                   
                    <form name="altafrm" ng-submit="Guardar()">
                      <div class="form-group row">
                        <div class="col-md-5">
                          <label for="nombre" style="color: #1E4599">
                            <i class="fa fa-fw fa-user"></i>Nombre</label>
                          <input type="text" class="form-control" ng-model="afiliadoModificando.nombre" placeholder="Nombre" required>
                          <i>
                            <a style="color:red;">{{errorText.NOMBRE}}</a>
                          </i>
                        </div>
                        <div class="col-md-4">
                          <label for="apellido" style="color: #1E4599">
                            <i class="fa fa-fw fa-leaf"></i>Apellido</label>
                          <input type="text" class="form-control" ng-model="afiliadoModificando.apellido" placeholder="Apellido" required>
                          <i>
                            <a style="color:red;">{{errorText.APELLIDO}}</a>
                          </i>
                        </div>
                        <div class="col-md-3">
                          <label for="dni" style="color: #1E4599">
                            <i class="fa fa-fw fa-credit-card"></i>DNI</label>
                          <input type="number" class="form-control" ng-model="afiliadoModificando.dni" placeholder="DNI" required>
                          <i>
                            <a style="color:red;">{{errorText.DNI}}</a>
                          </i>
                        </div>
                      </div>

                      <div class="form-group row" style="margin-top: 30px;">
                        <div class="col-md-3">
                          <label for="nafiliado" style="color: #1E4599">
                            <i class="fa fa-fw fa-dedent"></i>Nº Afiliado</label>
                          <input type="text" class="form-control" ng-model="afiliadoModificando.nafiliado" placeholder="Nº Afiliado" required>
                          <i>
                            <a style="color:red;">{{errorText.NAFILIADO}}</a>
                          </i>
                        </div>
                        <div class="col-md-5">
                          <label for="obrasocial" style="color: #1E4599">
                            <i class="fa fa-fw fa-medkit"></i>Obra social</label>
                          <select class="form-control" ng-model="afiliadoModificando.obra_social" required>

                            <option ng-repeat="x in obrasSociales" ng-value="x.id" ng-selected="x.id == afiliadoModificando.obra_social.id">
                              {{x.nombre}}
                            </option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <label for="nacimiento" style="color: #1E4599">
                            <i class="fa fa-fw fa-drupal"></i>Fecha Nacimiento</label>
                          <input type="date" class="form-control" ng-model="afiliadoModificando.nacimiento" placeholder="Nacimiento.." required>
                          <i>
                            <a style="color:red;">{{errorText.NACIMIENTO}}</a>
                          </i>
                        </div>
                      </div>

                      <div class="form-group row" style="margin-top: 30px;">
                        <div class="col-md-4">
                          <label for="cuil" style="color: #1E4599">
                            <i class="fa fa-fw fa-dedent"></i>Cuil</label>
                          <input type="text" class="form-control" ng-model="afiliadoModificando.cuil" placeholder="Cuil" required>
                          <i>
                            <a style="color:red;">{{errorText.CUIL}}</a>
                          </i>
                        </div>
                        <div class="col-md-4">
                          <label for="telefono" style="color: #1E4599">
                            <i class="fa fa-fw fa-phone"></i>Telefono</label>
                          <input type="number" class="form-control" ng-model="afiliadoModificando.telefono" placeholder="Telefono" required>
                          <i>
                            <a style="color:red;">{{errorText.TELEFONO}}</a>
                          </i>
                        </div>
                        <div class="col-md-4">
                          <label for="celular" style="color: #1E4599">
                            <i class="fa fa-fw fa-mobile"></i>Celular</label>
                          <input type="number" class="form-control" ng-model="afiliadoModificando.celular" placeholder="Celular" required>
                          <i>
                            <a style="color:red;">{{errorText.CELULAR}}</a>
                          </i>
                        </div>
                      </div>

                      <div class="form-group row" style="margin-top: 30px;">
                        <div class="col-md-4">
                          <label for="domicilio" style="color: #1E4599">
                            <i class="fa fa-fw fa-map-marker"></i>Domicilio</label>
                          <input type="text" class="form-control" ng-model="afiliadoModificando.direccion" placeholder="Domicilio" required>
                          <i>
                            <a style="color:red;">{{errorText.DIRECCION}}</a>
                          </i>
                        </div>
                        <div class="col-md-2">
                          <label for="piso" style="color: #1E4599">
                            <i class="fa fa-fw fa-phone"></i>Piso</label>
                          <input type="number" class="form-control" ng-model="afiliadoModificando.piso" placeholder="Piso">
                          <i>
                            <a style="color:red;">{{errorText.PISO}}</a>
                          </i>
                        </div>
                        <div class="col-md-2">
                          <label for="departamento" style="color: #1E4599">
                            <i class="fa fa-fw fa-mobile"></i>Departamento</label>
                          <input type="text" class="form-control" ng-model="afiliadoModificando.departamento" placeholder="Departamento">
                          <i>
                            <a style="color:red;">{{errorText.DEPARTAMENTO}}</a>
                          </i>
                        </div>
                        <div class="col-md-4">
                          <label for="email" style="color: #1E4599">
                            <i class="fa fa-fw fa-email"></i>Email</label>
                          <input type="text" class="form-control" ng-model="afiliadoModificando.email" placeholder="Email" required>
                          <i>
                            <a style="color:red;">{{errorText.EMAIL}}</a>
                          </i>
                        </div>
                      </div>
                      <div class="row">
                        <i>
                          <div style="color:red" class="col-md-6">{{errorMsj}}</div>
                        </i>
                        <div class="col-md-2 col-md-offset-4">
                          <button style="margin-bottom: 10px; width: 100%;" type="submit" class="Boton Primary" ng-click="submit">
                            <i class="fa fa-fw fa-save"></i>Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

<!--
<div class="modal fade" id="Modificar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-cloak>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Modificando Afiliado</h2>
            <span flex></span>
            <md-button class="md-icon-button" data-dismiss="modal">
              <i class="material-icons">close</i>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <div ng-if="Cargando !== ''" style="padding-top: 5px; padding-bottom: 5px;">
              <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            <table id="ims" class="table table-bordered">
              </tr>
              <div class="row" style="margin-top: 20px;">
                <md-input-container class="md-icon-float md-block col-md-5 col-md-offset-1" flex-gt-sm>
                  <label>
                    <i style="color: green;" class="material-icons">person</i> Nombre</label>
                  <input ng-model="nombremodi" style="color: #1A58B5;">
                </md-input-container>
                <md-input-container class="md-icon-float md-block col-md-5" flex-gt-sm>
                  <label>
                    <i style="color: lightblue;" class="material-icons">person_pin</i> Apellido</label>
                  <input type="text" ng-model="apellidomodi" style="color: #1A58B5;">
                </md-input-container>
              </div>
              <div class="row" style="">
                <md-input-container class="md-icon-float md-block col-md-5 col-md-offset-1" flex-gt-sm>
                  <label>
                    <i style="color: green;" class="material-icons">credit_card</i> Nº de Afiliado</label>
                  <input ng-model="nafiliadomodi" style="color: #1A58B5;">
                </md-input-container>
                <md-input-container class="md-icon-float md-block col-md-3 col-md-offset-1" flex-gt-sm>
                  <label>Obra Social</label>
                  <md-select ng-model="obrasocialmodi">
                    <md-option ng-repeat="x in obrasSociales" ng-value="x.id" ng-selected="x.id == obrasocialmodi" ng-disabled="$index === 1">
                      {{x.nombre}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="row">
                <md-input-container style="" class="md-icon-float md-block col-md-3 col-md-offset-1" flex-gt-sm>
                  <label>
                    <i style="color: blue;" class="material-icons">format_list_numbered</i> DNI</label>
                  <input type="number" ng-model="dnimodi" style="color: #1A58B5;">
                </md-input-container>
                <md-input-container style="" class="md-icon-float md-block col-md-3" flex-gt-sm>
                  <label>
                    <i style="color: lightblue;" class="material-icons">recent_actors</i> Cuil</label>
                  <input ng-model="cuilmodi" style="color: #1A58B5;">
                </md-input-container>
                <md-input-container class="md-icon-float md-block col-md-5" flex-gt-sm>
                  <md-datepicker ng-model="nacimientomodi" md-placeholder="Nacimiento" style="color: #1A58B5;"></md-datepicker>
                </md-input-container>
                <div class="row">
                  <md-input-container class="md-icon-float md-block col-md-5 col-md-offset-1" flex-gt-sm>
                    <label>
                      <i style="color: #9033FF;" class="material-icons">place</i>Direccion</label>
                    <input ng-model="direccionmodi" style="color: #1A58B5;">
                  </md-input-container>
                  <md-input-container class="md-icon-float md-block col-md-2 col-md-offset-1" flex-gt-sm>
                    <label>
                      <i style="color: orange;" class="material-icons">clear_all</i> Piso</label>
                    <input ng-model="pisomodi" style="color: #1A58B5;">
                  </md-input-container>
                  <md-input-container class="md-icon-float md-block col-md-2" flex-gt-sm>
                    <label>
                      <i style="color: blue;" class="material-icons">dns</i> DPTO</label>
                    <input ng-model="dptomodi" style="color: #1A58B5;">
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container class="md-icon-float md-block col-md-2 col-md-offset-1" flex-gt-sm>
                    <label>
                      <i style="color: orange;" class="material-icons">phone</i> Teléfono</label>
                    <input type="number" ng-model="telefonomodi" style="color: #1A58B5;">
                  </md-input-container>
                  <md-input-container class="md-icon-float md-block col-md-2 col-md-offset-1" flex-gt-sm>
                    <label>
                      <i style="color: purple;" class="material-icons">settings_cell</i> Celular</label>
                    <input type="number" ng-model="celularmodi" style="color: #1A58B5;">
                  </md-input-container>
                  <md-input-container class="md-icon-float md-block col-md-4 col-md-offset-1" flex-gt-sm>
                    <label>
                      <i style="color: green;" class="material-icons">contact_mail</i> Email</label>
                    <input ng-model="emailmodi" style="color: #1A58B5;">
                  </md-input-container>
                </div>

            </table>

            </div>
        </md-dialog-content>

        <md-dialog-actions style="padding: 5px;" layout="row">

          <span flex></span>
          <md-button class="md-raised md-accent md-icon-button" data-dismiss="modal">
            <md-tooltip md-direction="top">
              CANCELAR
            </md-tooltip>
            <i class="material-icons">cancel</i>
          </md-button>
          <md-button class="md-raised md-primary md-icon-button" data-dismiss="modal" ng-click="Guardar(idafi)">
            <md-tooltip>
              GUARDAR
            </md-tooltip>
            <i class="material-icons">save</i>
          </md-button>
        </md-dialog-actions>
      </form>

      </div>
    </div>
  </div> -->
</div>