<!--<div class="modal fade" id="Modificar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-cloak>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Modificando Médico</h2>
            <span flex></span>
            <md-button class="md-icon-button" data-dismiss="modal">
              <i class="material-icons">close</i>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <div ng-if="Cargando !== ''" style="padding-top: 5px; padding-bottom: 5px;">
              <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            <table id="ims" class="table table-bordered">
              <tr style="background-color: #234E5C; color: white;">
                <td>NOMBRE</td>
                <td>DIRECCION</td>
                <td>LOCALIDAD</td>
                <td>ESPECIALIDAD</td>
              </tr>
              <tr>
                <td>
                  <input ng-model="nombre" style="width: 100%;" type="text">
                </td>
                <td>
                  <input ng-model="direccion" style="width: 100%;" type="text">
                </td>
                <td>
                  <input ng-model="localidad" style="width: 100%;" type="text">
                </td>
                <td>
                  <select name="esp" id="esp" ng-model="especialidad">
                    <option ng-repeat="espe in Especialidades" value="{{espe.idespecialidad}}">{{espe.nombre}}</option>
                  </select>

                </td>
              </tr>
            </table>




            <table class="table table-bordered">
              <tr style="background-color: #234E5C; color: white;">
                <td>COORDENADAS EN MAPA
                  <a style="cursor: pointer;" ng-click="LlenarModal(ID)">
                    <img src="images/actualizar.png" height="20px" width="20px">
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Latitud: {{latitude}} </br>
                  Longitud: {{longitude}}
                  <center>
                    <a href="http://www.gestionarturnos.com/gestionabm/mapa.php?accion=sim&seccion=medicos&id={{ID}}&lat={{latitude}}&lon={{longitude}}"
                      target="_blank" class="BotonGeneral">
                      <img src="images/localizacion.png" width="15px" height="15px">UBICAR EN MAPA</a>
                  </center>
                </td>
              </tr>
            </table>
          </div>
        </md-dialog-content>

        <md-dialog-actions style="padding: 5px;" layout="row">

          <span flex></span>
          <md-button class="md-raised md-accent md-icon-button" data-dismiss="modal">
            <md-tooltip md-direction="top">
              CANCELAR
            </md-tooltip>
            <i class="material-icons">cancel</i>
          </md-button>
          <md-button class="md-raised md-primary md-icon-button" data-dismiss="modal" ng-click="Guardar()">
            <md-tooltip>
              GUARDAR
            </md-tooltip>
            <i class="material-icons">save</i>
          </md-button>
        </md-dialog-actions>
      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="MapaAlta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-cloak>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Ubicar médico en Mapa</h2>
            <span flex></span>
            <md-button class="md-icon-button" data-dismiss="modal">
              <i class="material-icons">close</i>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <div ng-if="Cargando !== ''" style="padding-top: 5px; padding-bottom: 5px;">
              <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>

       


          </div>
        </md-dialog-content>

        <md-dialog-actions style="padding: 5px;" layout="row">

          <span flex></span>
          <md-button class="md-raised md-accent md-icon-button" data-dismiss="modal">
            <md-tooltip md-direction="top">
              CANCELAR
            </md-tooltip>
            <i class="material-icons">cancel</i>
          </md-button>
          <md-button class="md-raised md-primary md-icon-button" data-dismiss="modal" ng-click="Guardar()">
            <md-tooltip>
              ACEPTAR
            </md-tooltip>
            <i class="material-icons">save</i>
          </md-button>
        </md-dialog-actions>
      </form>

    </div>
  </div>
</div>
-->

<div style="overflow: auto; padding: 10px; padding-top: 60px;"></div>
<div id="mensaje"></div>
<md-content style="background-color: white; box-shadow: 0px 0px 1px grey; margin-bottom: 5%;">
  <md-tabs md-dynamic-height md-border-bottom>
    
    <md-tab label="Alta" ng-click="terminarModificacion()">
      <md-content>

        <div class="row">
          <div class="col-md-12">
            <div style="background-color: #FA4081; color: white; font-size: 12pt; padding-left: 10px; padding: 15px;">
              Alta
            </div>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default col-md-10 col-md-offset-1" style="margin-top: 20px;">
            <div class="panel-body">

              <div class="col-md-12">
                <form name="altafrm">
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label for="nombre" style="color: #1E4599">
                        <i class="fa fa-fw fa-user"></i>Nombre</label>
                      <input type="text" class="form-control" ng-model="nombre" placeholder="Nombre" required>
                      <i>
                        <a style="color:red;">{{errorText.NOMBRE}}
                          <a>
                      </i>
                    </div>
                    <div class="col-md-4">
                      <label for="localidad" style="color: #1E4599">
                        <i class="fa fa-fw fa-credit-card"></i>Zona</label>
                      <input type="text" class="form-control" ng-model="zona" placeholder="Zona" required>
                      <i>
                        <a style="color:red;">{{errorText.ZONA}}
                          <a>
                      </i>
                    </div>
                    <div class="col-md-3">
                      <label for="telefono" style="color: #1E4599">
                        <i class="fa fa-fw fa-phone"></i>Telefono</label>
                      <input type="number" class="form-control" ng-model="telefono" placeholder="Telefono" required>
                      <i>
                        <a style="color:red;">{{errorText.TELEFONO}}
                          <a>
                      </i>
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 30px;">
                    <div class="col-md-4">
                      <label for="direccion" style="color: #1E4599">
                        <i class="fa fa-fw fa-location-arrow"></i>Direccion</label>
                      <input type="text" class="form-control" ng-model="direccion" placeholder="Direccion" required>
                      <i>
                        <a style="color:red;">{{errorText.DIRECCION}}
                          <a>
                      </i>
                    </div>
                    <div class="col-md-4">
                      <label for="localidad" style="color: #1E4599">
                        <i class="fa fa-fw fa-credit-card"></i>Localidad</label>
                      <input type="text" class="form-control" ng-model="localidad" placeholder="Localidad" required>
                      <i>
                        <a style="color:red;">{{errorText.LOCALIDAD}}
                          <a>
                      </i>
                    </div>
                    <div class="col-md-4">
                      <label for="localidad" style="color: #1E4599">Coordenadas</label>
                      <button type="button" class="btn btn-warning  " style="width: 100%;">
                        <i class="fa fa-fw fa-map-marker"></i>Ubicar</button>

                    </div>
                  </div>


                  <div class="form-group row" style="margin-top: 30px;">
                    <div class="col-md-6">
                      <label for="especialidades" style="color: #1E4599">
                        <i class="fa fa-fw fa-map-marker"></i>Especialidades</label>
                      </br>

                      <button type="button" data-toggle="modal" data-target="#Espes" class="Boton Metal" style="width: 100%;">
                        <i class="fa fa-fw fa-plus"></i>Añadir Especialidades</button>
                      <ul class="list-group">
                        <li ng-repeat="x in especialidades" class="list-group-item">
                          <div class="row">
                            <div class="col-md-6">
                              {{x.nombre}}
                            </div>
                            <div style="text-align: right;" class="col-md-6">
                              <button class="Boton Danger" ng-click="quitarEspecialidad(x, 'especialidades')" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-6">
                      <label for="domicilio" style="color: #1E4599">
                        <i class="fa fa-fw fa-map-marker"></i>Obras Sociales</label>
                      <input class="outline0" type="text" id="papapa" ng-value="ObrasSocialesAgregar" style="width: 0px; height: 0px; border: 0px;"
                        required>
                      </br>
                      <button type="button" data-toggle="modal" data-target="#OS" class="Boton Metal" style="width: 100%;">
                        <i class="fa fa-fw fa-plus"></i>Añadir Obra Social</button>
                      <ul class="list-group">
                        <li ng-repeat="x in ObrasSocialesAgregar" class="list-group-item">
                          <div class="row">
                            <div class="col-md-6">
                              {{x.nombre}}
                            </div>
                            <div style="text-align: right;" class="col-md-6">
                              <button class="Boton Danger" ng-click="QuitarOS(x, 'ObrasSocialesAgregar')" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                      <button style="margin-bottom: 10px; width: 100%;" type="submit" class="btn btn-primary" ng-click="Alta()">
                        <b>Alta</b>
                      </button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>

      </md-content>
    </md-tab>
    <md-tab label="Baja/Modificacion" ng-click="ObtenerClinicas()">
      <md-content>
        <div class="row">
          <div class="col-md-12">
            <div style="background-color: #FA4081; color: white; font-size: 12pt; padding-left: 10px; padding: 15px;">
              Baja / Modificación de Clinicas
            </div>
          </div>
        </div>
        <div class="row" style="padding: 10px;">
          <div class="col-md-12">

            <div class="panel panel-default col-md-12" style="margin-top: 20px; padding: 0px;">
              <!-- Default panel contents -->
              <div class="panel-heading" style="background-color: #FA4081; font-size: 12pt; color: white;">Clinicas disponibles</div>

              <!-- Table -->
              <table class="table table-hover table-striped table-bordered">
                <thead>
                  <tr>
                    <td>
                      <input type="text" class="form-control" ng-model="filtro.nombre">
                    </td>
                    <td>
                      <input type="text" class="form-control" ng-model="filtro.telefono">
                    </td>
                    <td>
                      <input type="text" class="form-control" ng-model="filtro.direccion">
                    </td>
                    <td>
                      <input type="text" class="form-control" ng-model="filtro.localidad">
                    </td>
                    <td>
                      <input type="text" class="form-control" ng-model="filtro.zona">
                    </td>
                    <td></td>
                  </tr>
                  <tr style="color: #1E4599; background-color: #f5f5f5">

                    <td><a ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                      Nombre
                      <span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
                    </a></td>
                    <td><a ng-click="sortType = 'telefono'; sortReverse = !sortReverse">
                      Telefono
                      <span ng-show="sortType == 'telefono' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'telefono' && sortReverse" class="fa fa-caret-up"></span>
                    </a></td>
                    <td><a ng-click="sortType = 'direccion'; sortReverse = !sortReverse">
                      Direccion
                      <span ng-show="sortType == 'direccion' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'direccion' && sortReverse" class="fa fa-caret-up"></span>
                    </a></td>
                    <td><a ng-click="sortType = 'localidad'; sortReverse = !sortReverse">
                      Localidad
                      <span ng-show="sortType == 'localidad' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'localidad' && sortReverse" class="fa fa-caret-up"></span>
                    </a></td>
                    <td><a ng-click="sortType = 'zona'; sortReverse = !sortReverse">
                      Zona
                      <span ng-show="sortType == 'zona' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'zona' && sortReverse" class="fa fa-caret-up"></span>
                    </a></td>
                    <td>Opciones</td>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="6" style="color: #337ab7;" ng-if="clinicas == undefined">
                      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Cargando.. </td>
                  </tr>
                  <tr ng-repeat="x in clinicas | orderBy:sortType:sortReverse | filter:filtro  | filter:{particular: 0} track by $index">
                    <td style="vertical-align: middle;">{{x.nombre}}</td>
                    <td style="vertical-align: middle;">{{x.telefono}}</td>
                    <td style="vertical-align: middle;">{{x.domicilio}}</td>
                    <td style="vertical-align: middle;">{{x.localidad}}</td>
                    <td style="vertical-align: middle;">{{x.zona}}</td>

                    <td style="vertical-align: middle;">
                      <button ng-disabled="modificando" data-toggle="modal" data-target="#Modificar" class="btn btn-primary" style="padding: 5px;"
                        ng-click="Editar(x)">
                        <i class="fa fa-fw fa-edit"></i> Editar
                      </button>
                      <button ng-disabled="modificando" class="btn btn-danger" style="margin-left: 5px; padding: 5px;" ng-click="Eliminar(x)">
                        <i class="fa fa-fw fa-trash"></i> Eliminar
                      </button>

                  </tr>
                </tbody>
                <tfoot>
                  <tr style="background-color: #B4BBB2">
                    <td colspan="6" style="text-align: center;">
                      <nav aria-label="Page navigation">
                        <ul class="pagination" style="padding: 0px; margin: 0px;">
                          <li>

                          </li>
                          <li ng-repeat="pag in cantidadpaginas" ng-class="{'active': ActualPage == pag}" ng-click="ChangePage(pag)">
                            <a>{{pag}}</a>
                          </li>
                          </a>
                          </li>
                          <li>

                          </li>
                        </ul>
                      </nav>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="row" ng-show="modificando" style="padding: 10px;">
          <div class="col-md-12">
            <div class="panel panel-default col-md-12" style="margin-top: 20px; padding: 0px;">
              <div class="panel-heading" style="background-color: #FA4081; font-size: 12pt; color: white;">Editando Afiliado
                <button type="button" ng-click="afiliadoModificando = undefined; modificando = false;" class="close" aria-hidden="true">&times;</button>
              </div>
              <div class="panel-body">
                <div class="col-md-12">
                  <form name="altafrm">
                    <div class="form-group row">
                      <div class="col-md-5">
                        <label for="nombre" style="color: #1E4599">
                          <i class="fa fa-fw fa-user"></i>Nombre</label>
                        <input type="text" class="form-control" ng-model="clinicaModificando.nombre" placeholder="Nombre" required>
                      </div>
                      <div class="col-md-4">
                        <label for="domicilio" style="color: #1E4599">
                          <i class="fa fa-fw fa-map-marker"></i>Zona</label>
                        <input type="text" class="form-control" ng-model="clinicaModificando.zona" placeholder="Zona" required>
                      </div>
                      <div class="col-md-3">
                        <label for="telefono" style="color: #1E4599">
                          <i class="fa fa-fw fa-phone"></i>Telefono</label>
                        <input type="text" class="form-control" ng-model="clinicaModificando.telefono" placeholder="Telefono" required>
                      </div>
                    </div>

                    <div class="form-group row" style="margin-top: 30px;">
                      <div class="col-md-4">
                        <label for="direccion" style="color: #1E4599">
                          <i class="fa fa-fw fa-leaf"></i>Direccion</label>
                        <input type="text" class="form-control" ng-model="clinicaModificando.domicilio" placeholder="Direccion" required>
                      </div>
                      <div class="col-md-4">
                        <label for="localidad" style="color: #1E4599">
                          <i class="fa fa-fw fa-credit-card"></i>Localidad</label>
                        <input type="text" class="form-control" ng-model="clinicaModificando.localidad" placeholder="Localidad" required>
                      </div>
                      <div class="col-md-4">
                        <label for="localidad" style="color: #1E4599">Coordenadas</label>
                        <button type="button" class="btn btn-warning  " style="width: 100%;">
                          <i class="fa fa-fw fa-map-marker"></i>Ubicar</button>

                      </div>
                    </div>

                    <div class="form-group row" style="margin-top: 30px;">
                      <div class="col-md-6">
                        <label for="especialidades" style="color: #1E4599">
                          <i class="fa fa-fw fa-map-marker"></i>Especialidades</label>
                        </br>

                        <button type="button" data-toggle="modal" data-target="#Espes" class="Boton Metal" style="width: 100%;">
                          <i class="fa fa-fw fa-plus"></i>Añadir Especialidades</button>
                        <ul class="list-group">
                          <li ng-repeat="x in especialidades" class="list-group-item">
                            <div class="row">
                              <div class="col-md-6">
                                {{x.nombre}}
                              </div>
                              <div style="text-align: right;" class="col-md-6">
                                <button class="Boton Danger" ng-click="quitarEspecialidad(x, 'especialidades')" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>

                      <div class="col-md-6">
                        <label for="domicilio" style="color: #1E4599">
                          <i class="fa fa-fw fa-map-marker"></i>Obras Sociales</label>
                        <input class="outline0" type="text" id="papapa" ng-value="ObrasSocialesAgregar" style="width: 0px; height: 0px; border: 0px;"
                          required>
                        </br>
                        <button type="button" data-toggle="modal" data-target="#OS" class="Boton Metal" style="width: 100%;">
                          <i class="fa fa-fw fa-plus"></i>Añadir Obra Social</button>
                        <ul class="list-group">
                          <li ng-repeat="x in ObrasSocialesAgregar" class="list-group-item">
                            <div class="row">
                              <div class="col-md-6">
                                {{x.nombre}}
                              </div>
                              <div style="text-align: right;" class="col-md-6">
                                <button class="Boton Danger" ng-click="QuitarOS(x, 'clinicaModificando.obrasSociales')" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 col-md-offset-10">
                        <button style="margin-bottom: 10px;" type="submit" class="btn btn-primary" ng-click="Guardar()">
                          <i class="fa fa-fw fa-save"></i>Guardar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>


<div class="modal fade" id="Espes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Especialidades</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filtroEspecialidades.nombre">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" style="margin-top: 5px;">
          <li ng-repeat="x in Especialidades | filter: filtroEspecialidades | filter:{ estudio: '0'}" style="color: #0D295B; font-size: 16px;"
            class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{x.nombre}}
              </div>
              <div class="col-md-6" style="text-align: right;">
                <i ng-show="x.agregado == false" style="color: green;" class="glyphicon glyphicon-plus-sign" ng-click="agregarEspecialidad(x, 'especialidades')"></i>
                <i ng-show="x.agregado == true" style="color: orange;" class="glyphicon glyphicon-remove-sign" ng-click="quitarEspecialidad(x, 'especialidades')"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="OS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Obras Sociales</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filtroOS.nombre">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" style="margin-top: 5px;">
          <li ng-repeat="x in obrasSociales | filter: filtroOS" style="color: #0D295B;" class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{x.nombre}}
              </div>
              <div class="col-md-6" style="text-align: right;">
                <button type="button" ng-click="AgregarOS(x, 'ObrasSocialesAgregar')" ng-class="{'Brand': ObrasSocialesAgregar.indexOf(x) == -1, 'Success': ObrasSocialesAgregar.indexOf(x) != -1}"
                  ng-disabled="ObrasSocialesAgregar.indexOf(x) != -1" class="Boton">Añadir</button>
              </div>
            </div>
          </li>
          <li ng-if="obrasSociales == undefined" class="list-group-item" style="color: #0D295B;">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Cargando..
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="Boton Danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>