<div style="padding: 10px; padding-top: 60px;">

  <md-content class="main-card">
    <div id="mensaje"></div>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Historico Auditoria"  ng-click="ObtenerHistorial()" style="position:fixed;" hidden>
        <md-content>
          <div class="row">
            <div class="col-md-12">
              <div class="titulo">
                Historial
              </div>
            </div>
          </div>
          <div class="row" style="padding: 10px;">
            <div class="col-md-12">

              <div class="panel panel-default col-md-12" style="margin-top: 20px; padding: 0px;">
                <!-- Default panel contents -->
                <div class="subtitulo">Solicitudes</div>

                <!-- Table -->
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr ng-click="getPrimeraPagina()">
                      <td>
                        <input type="text" class="form-control" ng-model="filtro2.afiliado.nafiliado">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro2.afiliado.nombre">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro2.afiliado.apellido">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro2.afiliado.dni">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro2.afiliado.obra_social">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro2.estado">
                      </td>
                      <td></td>
                    </tr>
                    <tr style="color: #1E4599; background-color: #f5f5f5">
                      <td style="width: 10%;">
                        <a ng-click="sortType = 'nafiliado'; sortReverse = !sortReverse">
                          Nº Afiliado
                          <span ng-show="sortType == 'nafiliado' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'nafiliado' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                          Nombre
                          <span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'fecha'; sortReverse = !sortReverse">
                          Fecha
                          <span ng-show="sortTygetPpe == 'fecha' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'fecha' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td style="width: 10%;">
                        <a ng-click="sortType = 'fecha'; sortReverse = !sortReverse">
                          Autorizacion
                          <span ng-show="sortType == 'fecha' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'fecha' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'obrasocial'; sortReverse = !sortReverse">
                          Obra social
                          <span ng-show="sortType == 'obrasocial' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'obrasocial' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'estado'; sortReverse = !sortReverse">
                          Estado
                          <span ng-show="sortType == 'estado' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'estado' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'estado'; sortReverse = !sortReverse">
                          Estado Auditoria
                          <span ng-show="sortType == 'estado' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'estado' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>Opciones</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="8" style="color: #337ab7;" ng-if="historial == undefined">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Cargando.. </td>
                    </tr>
                    <tr ng-repeat="x in historial | orderBy:sortType:sortReverse | filter:filtro2 as filteredElems track by $index"
                      ng-if="separarPaginas($index)">
                      <td style="vertical-align: middle;">{{x.afiliado.nafiliado}}</td>
                      <td style="vertical-align: middle;">{{x.afiliado.nombre}} {{x.afiliado.apellido}}</td>
                      <td style="vertical-align: middle;">{{x.fecha | date:'dd/MM/yyyy'}}</td>
                      <td style="vertical-align: middle;">
                          <button type="button" ng-click="VerFoto(x.foto)" class="Boton Primary" data-toggle="modal" data-target="#fotoAutorizacion"
                          style="padding: 2px; width: 100%;">
                          <i class="fa fa-fw fa-eye"></i> Ver</button>
                      </td>
                      <td style="vertical-align: middle;">{{x.afiliado.obra_social.nombre}}</td>
                      <td style="vertical-align: middle;">{{x.estado}}</td>
                      <td style="vertical-align: middle;">{{x.turnos == null && x.estado == 'Rechazado' && x.revisado == 1 ? 'Rechazada' : 'Aprobada' }}</td>
                      <td style="vertical-align: middle;">
                        <button ng-disabled="modificando" class="Boton Primary" style="padding: 5px;" ng-click="Auditar(x)" data-toggle="modal" data-target="#auditar">
                          <i class="fa fa-fw fa-edit"></i>
                        </button>
                        <button ng-disabled="modificando" class="Boton Danger" style="margin-left: 5px; padding: 5px;"
                          ng-click="Eliminar($event,x)">
                          <i class="fa fa-fw fa-trash"></i>
                        </button>

                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="8" style="text-align: center;">
                        <paginado></paginado>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="8">Cantidad de páginas totales: {{getPaginas(filteredElems).length}}</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

<div class="modal fade" id="auditar" tabindex="-1" style="z-index: 9999999; overflow-y:auto" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Auditoría de Solicitud
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <form ng-submit="Validar()">
          <center>
            <img src="http://www.gestionarturnos.com/certificados/{{y.foto}}" width="350px" height="350px" style="margin-top: 5px;">

          </center>
          <a href="http://www.gestionarturnos.com/certificados/{{y.foto}}" download="Solicitud-{{y.id}}" target="_blank">
            <button type="button" style="margin-top: 10px;" class="Boton Brand">
              <i class="fa fa-download"></i> DESCARGAR IMAGEN</button>
          </a>
          <button type="button" style="margin-top: 10px;" ng-click="Rechazar($event, y)" class="Boton Danger">
            <i class="fa fa-remove"></i> RECHAZAR SOLICITUD</button>

          <div class="form-group row" style="margin-top: 30px;" ng-show="y.tipo==3">
            <div class="col-md-6">
              <label for="especialidades" style="color: #1E4599">
                <i class="fa fa-fw fa-map-marker"></i>Especialidad</label>
              </br>

              <button type="button" data-toggle="modal" data-target="#Espes" class="Boton Metal" style="width: 100%;">
                <i class="fa fa-fw fa-plus"></i>Añadir Especialidad</button>
              <a style="color:red;">{{errorText.especialidades}}</a>
              <ul class="list-group">
                <li ng-repeat="x in especialidadesAgregar" class="list-group-item">
                  <div class="row">
                    <div class="col-md-6">
                      {{x.nombre}}
                    </div>
                    <div style="text-align: right;" class="col-md-6">
                      <button class="Boton Danger" ng-click="quitarEspecialidad(x)" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <label for="clinicas" style="color: #1E4599">
                <i class="fa fa-fw fa-map-marker"></i>Clinica</label>
              </br>

              <button type="button" data-toggle="modal" data-target="#Climed" class="Boton Metal" style="width: 100%;">
                <i class="fa fa-fw fa-plus"></i>Añadir Clinica</button>
              <a style="color:red;">{{errorText.climed}}</a>
              <ul class="list-group">
                <li ng-repeat="x in clinicasAgregar" class="list-group-item">
                  <div class="row">
                    <div class="col-md-6">
                      {{x.nombre}}
                    </div>
                    <div style="text-align: right;" class="col-md-6">
                      <button class="Boton Danger" ng-click="quitarClinicas(x)" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <button type="button" style="margin-top: 10px;" ng-click="Autorizar(y.id)" class="Boton Success" ng-disabled="y.tipo ==3 && (especialidadesAgregar.length == 0 || clinicasAgregar.length == 0)">
            <i class="fa fa-check"></i> VALIDAR SOLICITUD</button>
        </form>
      </div>
    </div>
  </div>
</div>


</div>

<div class="modal fade" id="Espes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 1000000000000">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Especialidades</h4>
      </div>
      <div class="modal-body" style="overflow: auto; max-height: 400px;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filtroEspecialidades.nombre">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" style="margin-top: 5px;">
          <li ng-repeat="x in Especialidades | filter: filtroEspecialidades | filter:{ estudio: '0'}" style="color: #0D295B; font-size: 16px;"
            class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{x.nombre}}
              </div>
              <!-- <div class="col-md-6" style="text-align: right;">
                  <i ng-show="x.agregado == false" style="color: green;" class="glyphicon glyphicon-plus-sign" ng-click="agregarEspecialidad(x, 'especialidades')"></i>
                  <i ng-show="x.agregado == true" style="color: orange;" class="glyphicon glyphicon-remove-sign" ng-click="quitarEspecialidad(x, 'especialidades')"></i>
                </div> -->
              <div class="col-md-6" style="text-align: right;">
                <button type="button" ng-click="agregarEspecialidad(x)" ng-class="{'Brand': agregarEspecialidad.indexOf(x) == -1, 'Success': agregarEspecialidad.indexOf(x) != -1}"
                  ng-disabled="especialidadesAgregar.length > 0" class="Boton">Añadir</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Climed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 1000000000000">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Clinicas</h4>
      </div>
      <div class="modal-body" style="overflow: auto; max-height: 400px;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filtroClinicas.nombre">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" style="margin-top: 5px;">
          <li ng-repeat="x in Clinicas | filter: filtroClinicas" style="color: #0D295B; font-size: 16px;" class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{x.nombre}}
              </div>
              <!-- <div class="col-md-6" style="text-align: right;">
                  <i ng-show="x.agregado == false" style="color: green;" class="glyphicon glyphicon-plus-sign" ng-click="agregarEspecialidad(x, 'especialidades')"></i>
                  <i ng-show="x.agregado == true" style="color: orange;" class="glyphicon glyphicon-remove-sign" ng-click="quitarEspecialidad(x, 'especialidades')"></i>
                </div> -->
              <div class="col-md-6" style="text-align: right;">
                <button type="button" ng-click="agregarClinica(x)" ng-disabled="clinicasAgregar.length > 0" class="Boton"
                  ng-class="{'Brand': agregarEspecialidad.indexOf(x) == -1, 'Success': agregarEspecialidad.indexOf(x) != -1}">Añadir</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="jorgelin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Datos de Familiares</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-search"></i>
            <b>Nombre</b>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" ng-model="buscafam" placeholder="Nombre..">
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div id="BuscaUser2" class="col-md-12" style="overflow: auto; max-height: 400px;">

            <table class="table table-bordered">
              <thead>
                <tr class="subtitulo" style="color: white">
                  <td>NOMBRE</td>
                  <td>DNI</td>
                  <td>NACIMIENTO</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in yero.afiliado.familiares | filter: buscafam">
                  <td>{{x.nombre}}</td>
                  <td>{{x.dni}}</td>
                  <td>{{x.nacimiento | date:'dd/MM/yyyy'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="fotoAutorizacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Autorización</h4>
        </div>
        <div class="modal-body">
          <img src="{{fotoAutorizacion}}" style="width: 100%; height: 100%;">
        </div>
      </div>
    </div>
  </div>