
    
        <nav aria-label="Page navigation">
            <ul class="pagination" style="padding: 0px; margin: 0px;">
                <li>
                    <a ng-click="disminuirPagina()">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li ng-repeat="pag in getPaginas(filteredElems) track by $index" ng-class="{'active': ActualPage == pag}" ng-click="ChangePage(pag)"
                    ng-show="pag <= primeraPagina +10 && primeraPagina <= pag ">
                    <a>{{$index+1}}</a>
                </li>
                </a>
                </li>
                <li>
                    <!-- <a ng-click="((getPaginas(filteredElems).length - primerapagina)> 10) && (primeraPagina = primeraPagina +5)">-->
                    <a ng-click="aumentarPagina(filteredElems)">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
    
