<div style="overflow: auto; padding: 10px; padding-top: 60px;">
	<md-content style="background-color: white; box-shadow: 0px 0px 1px grey; margin-bottom: 5%;">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Alta" ng-click="ObrasSocialesAgregar = []">
				<md-content class="">

					<div class="row">
						<div class="col-md-12">
							<div style="background-color: #FA4081; color: white; font-size: 12pt; padding-left: 10px; padding: 15px;">
								Alta de un nuevo usuario
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-default col-md-10 col-md-offset-1" style="margin-top: 20px;">
							<div class="panel-body">

								<div class="col-md-12">
									<form name="altafrm" ng-submit="Alta()">
										<div class="form-group row">
											<div class="col-md-5">
												<label for="nombre" style="color: #1E4599">
													<i class="fa fa-fw fa-user"></i>Nombre</label>
												<input type="text" class="form-control" ng-model="name" ng-change="ComprobarUsername()" placeholder="Nombre">
												<p class="help-block" id="comprobuser"></p>
												<i>
													<a style="color:red;">{{errorText.NOMBRE}}
														<a>
												</i>
											</div>
											<div class="col-md-4">
												<label for="nombre" style="color: #1E4599">
													<i class="fa fa-fw fa-user"></i>Email</label>
												<input type="text" class="form-control" ng-model="email" placeholder="Email">

												<i>
													<a style="color:red;">{{errorText.EMAIL}}
														<a>
												</i>
											</div>
											<div class="col-md-3">
												<label for="password" style="color: #1E4599">
													<i class="fa fa-fw fa-lock"></i>Contraseña</label>
												<input type="password" class="form-control" ng-model="password" placeholder="Contraseña" required>
												<i>
													<a style="color:red;">{{errorText.PASSWORD}}</a>
												</i>
											</div>

										</div>



										<div class="form-group row" style="margin-top: 30px;">
											<div class="col-md-4">
												<label for="cuil" style="color: #1E4599">
													<i class="fa fa-fw fa-dedent"></i>Perfil</label>
												<select class="form-control" ng-model="id_perfil" required>

													<option ng-repeat="x in perfiles" ng-value="x.id">
														{{x.nombre}}
													</option>
												</select>
											</div>
											<div class="col-md-6">
												<label for="domicilio" style="color: #1E4599">
													<i class="fa fa-fw fa-map-marker"></i>Obras Sociales</label>
												<input class="outline0" type="text" id="papapa" ng-value="ObrasSocialesAgregar" style="width: 0px; height: 0px; border: 0px;"
												    required>
												</br>
												<button type="button" data-toggle="modal" data-target="#OS" class="Boton Metal" style="width: 100%;">
													<i class="fa fa-fw fa-plus"></i>Añadir Obra Social</button>
												<ul class="list-group">
													<li ng-repeat="x in ObrasSocialesAgregar" class="list-group-item">
														<div class="row">
															<div class="col-md-6">
																{{x.nombre}}
															</div>
															<div style="text-align: right;" class="col-md-6">
																<button class="Boton Danger" ng-click="QuitarOS(x)" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>


										<div class="row">
											<div CLASS="col-md-6 ">
												<i>
													<a style="color:red;">{{errorMsj}}</a>
												</i>
											</div>
											<div class="col-md-2 col-md-offset-4">
												<button style="margin-bottom: 10px; width: 100%;" type="submit" ng-click="Alta()" class="Boton Primary" ng-click="submit">
													<b>Alta</b>
												</button>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>

				</md-content>
			</md-tab>
			<md-tab label="Baja/Modificacion" ng-click="traerUsuarios()">
				<md-content>
					<div class="row">
						<div class="col-md-12">
							<div style="background-color: #FA4081; color: white; font-size: 12pt; padding-left: 10px; padding: 15px;">
								Baja / Modificación de Afiliados
							</div>
						</div>
					</div>
					<div class="row" style="padding: 10px;">
						<div class="col-md-12">

							<div class="panel panel-default col-md-12" style="margin-top: 20px; padding: 0px;">
								<!-- Default panel contents -->
								<div class="panel-heading" style="background-color: #FA4081; font-size: 12pt; color: white;">Usuarios disponibles</div>

								<!-- Table -->
								<table class="table table-hover table-striped table-bordered">
									<thead>
										<tr>
											<td>
												<input type="text" class="form-control" ng-model="filtro.name">
											</td>
											<td>
												<input type="text" class="form-control" ng-model="filtro.email">
											</td>



											<td></td>
										</tr>
										<tr style="color: #1E4599; background-color: #f5f5f5">

											<td>
												<a ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
													Nombre
													<span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
													<span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
												</a>
											</td>
											<td>
												<a ng-click="sortType = 'email'; sortReverse = !sortReverse">
													Email
													<span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
													<span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
												</a>
											</td>

											<td>Opciones</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="6" style="color: #337ab7;" ng-if="usuarios == undefined">
												<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Cargando.. </td>
										</tr>
										<tr ng-repeat="x in usuarios | orderBy:sortType:sortReverse | filter:filtro track by $index" ng-if="($index <= (ActualPage * filtronumeritos)) && ($index >= (ActualPage-1)*filtronumeritos)">
											<td style="vertical-align: middle;">{{x.name}}</td>
											<td style="vertical-align: middle;">{{x.email}}</td>


											<td style="vertical-align: middle;">
												<button ng-disabled="modificando" class="Boton Primary" style="padding: 5px;" ng-click="Editar(x)">
													<i class="fa fa-fw fa-edit"></i> Editar
												</button>
												<button ng-disabled="modificando" class="Boton Danger" style="margin-left: 5px; padding: 5px;" ng-click="Eliminar($event,x)">
													<i class="fa fa-fw fa-trash"></i> Eliminar
												</button>

										</tr>
									</tbody>
									<tfoot>
										<tr style="background-color: #B4BBB2">
											<td colspan="6" style="text-align: center;">
												<nav aria-label="Page navigation">
													<ul class="pagination" style="padding: 0px; margin: 0px;">
														<li>

														</li>
														<li ng-repeat="pag in cantidadpaginas" ng-class="{'active': ActualPage == pag}" ng-click="ChangePage(pag)">
															<a>{{pag}}</a>
														</li>
														</a>
														</li>
														<li>

														</li>
													</ul>
												</nav>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<div class="row" ng-show="modificando" style="padding: 10px;">
						<div class="col-md-12">
							<div class="panel panel-default col-md-12" style="margin-top: 20px; padding: 0px;">
								<div class="panel-heading" style="background-color: #FA4081; font-size: 12pt; color: white;">Editando Usuario
									<button type="button" ng-click="usuarioModificando = undefined; modificando = false; ObtenerUsuarios();" class="close" aria-hidden="true">&times;</button>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
										<form name="altafrm" ng-submit="Guardar()">
											<div class="form-group row">
												<div class="col-md-5">
													<label for="nombre" style="color: #1E4599">
														<i class="fa fa-fw fa-user"></i>Nombre</label>
													<input type="text" class="form-control" ng-model="userModificando.name" ng-change="ComprobarUsername()" placeholder="Nombre">
													<p class="help-block" id="comprobuser"></p>
													<i>
														<a style="color:red;">{{errorText.NAME}}
															<a>
													</i>
												</div>
												<div class="col-md-4">
													<label for="nombre" style="color: #1E4599">
														<i class="fa fa-fw fa-user"></i>Email</label>
													<input type="text" class="form-control" ng-model="userModificando.email" placeholder="Email">

													<i>
														<a style="color:red;">{{errorText.EMAIL}}
															<a>
													</i>
												</div>

											</div>
											<div class="form-group row" style="margin-top: 30px;">
												<div class="col-md-4">
													<label for="cuil" style="color: #1E4599">
														<i class="fa fa-fw fa-dedent"></i>Perfil</label>
													<select class="form-control" ng-model="userModificando.id_perfil" required>
														<option ng-repeat="x in perfiles" ng-value="x.id" ng-selected="userModificando.id_perfil == x.id">
															{{x.nombre}}
														</option>
													</select>
												</div>
												<div class="col-md-6">
													<label for="domicilio" style="color: #1E4599">
														<i class="fa fa-fw fa-map-marker"></i>Obras Sociales</label>
													<input class="outline0" type="text" id="papapa" ng-value="ObrasSocialesAgregar" style="width: 0px; height: 0px; border: 0px;"
													    required>
													</br>
													<button type="button" data-toggle="modal" data-target="#OS" class="Boton Metal" style="width: 100%;">
														<i class="fa fa-fw fa-plus"></i>Añadir Obra Social</button>
													<ul class="list-group">
														<li ng-repeat="x in ObrasSocialesAgregar" class="list-group-item">
															<div class="row">
																<div class="col-md-6">
																	{{x.nombre}}
																</div>
																<div style="text-align: right;" class="col-md-6">
																	<button class="Boton Danger" ng-click="QuitarOS(x)" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>


											<div class="row">
												<div CLASS="col-md-6 ">
													<i>
														<a style="color:red;">{{errorMsj}}</a>
													</i>
												</div>
												<div class="col-md-2 col-md-offset-4">
													<button style="margin-bottom: 10px; width: 100%;" type="submit" ng-click="Guardar()" class="Boton Primary" ng-click="submit">
														<b>Guardar</b>
													</button>
												</div>
											</div>
										</form>
									</div>

								</div>
							</div>
						</div>
					</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>




<div class="modal fade" id="OS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Obras Sociales</h4>
			</div>
			<div class="modal-body">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" ng-model="filtroOS.nombre">
					<div class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
				<ul class="list-group" style="margin-top: 5px;">
					<li ng-repeat="x in obrasSociales | filter: filtroOS" style="color: #0D295B;" class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								{{x.nombre}}
							</div>
							<div class="col-md-6" style="text-align: right;">
								<button type="button" ng-click="AgregarOS(x)" ng-class="{'Brand': ObrasSocialesAgregar.indexOf(x) == -1, 'Success': ObrasSocialesAgregar.indexOf(x) != -1}"
								    ng-disabled="ObrasSocialesAgregar.indexOf(x) != -1" class="Boton">Añadir</button>
							</div>
						</div>
					</li>
					<li ng-if="obrasSociales == undefined" class="list-group-item" style="color: #0D295B;">
						<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Cargando..
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="Boton Danger" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<div style="padding: 10px; padding-top: 60px; margin-bottom: 5%;">



</div>