<div style="padding: 10px;">
<div class="modal fade" id="Modificar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Modificando Especialidad</h2>
          <span flex></span>
          <md-button class="md-icon-button" data-dismiss="modal">
            <i class="material-icons">close</i>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <div ng-if="Cargando !== ''" style="padding-top: 5px; padding-bottom: 5px;"><md-progress-linear md-mode="indeterminate"></md-progress-linear></div>
      <table id="ims" class="table table-bordered">
          <tr style="background-color: #234E5C; color: white;">
          <td>NOMBRE</td><td>ESTUDIO</td>
          </tr>
            <tr>
              <td><input ng-model="nombre" style="width: 100%;" type="text"></td>
              <td>
                  <md-checkbox ng-model="estudio" aria-label="Estudio">
                    Estudio
                  </md-checkbox>
          </td>
            </tr>
        </table>

  </div>
      </md-dialog-content>

      <md-dialog-actions style="padding: 5px;" layout="row">

        <span flex></span>
        <md-button class="md-raised md-accent md-icon-button" data-dismiss="modal">
         <md-tooltip md-direction="top">
         CANCELAR
         </md-tooltip>
         <i class="material-icons">cancel</i>
        </md-button>
        <md-button class="md-raised md-primary md-icon-button" data-dismiss="modal" ng-click="Guardar()">
         <md-tooltip>
         GUARDAR
         </md-tooltip>
         <i class="material-icons">save</i>
        </md-button>
      </md-dialog-actions>
    </form>

      </div>
    </div>
  </div>


<md-content style="background-color: white; box-shadow: 0px 0px 1px grey; margin-bottom: 5%;">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Alta">
        <md-content class="md-padding">
        <div style="float: right;">

        <md-button ng-if="nombrealta !== ''" ng-click="AltaEspecialidad()" class="md-fab md-primary">
            <md-tooltip>
              ALTA DE ESPECIALIDAD
            </md-tooltip>
            <i style="font-size: 4rem; padding-top: 20%;" class="large material-icons">add</i>
          </md-button>
          <md-button ng-if="nombrealta == ''" class="md-fab md-accent" layout-align="center center">
            <md-tooltip>
              COMPLETE TODOS LOS CAMPOS
            </md-tooltip>
            <i style="font-size: 4rem; padding-top: 20%;" class="large material-icons">add</i>
          </md-button>
        </div>
          <div layout="column" layout-align="center center">
          <md-input-container style="width: 30%;" class="md-icon-float md-block" flex-gt-sm>
            <label><i style="font-size: 1.5rem;" class="material-icons">assignment</i>Nombre de la Especialidad</label>
            <input ng-model="nombrealta">
          </md-input-container>
          <md-checkbox ng-model="estudioalta" aria-label="Estudio">
            Estudio
          </md-checkbox>

        </md-content>
      </md-tab>


      <md-tab label="Baja/Modificacion" ng-click="ListarEspecialidades()">
        <md-content class="md-padding">
          <div ng-if="Cargando !== ''" style="padding: 0px; border: 0px;" class="alert alert-warning"><md-progress-linear md-mode="indeterminate"></md-progress-linear></div>
        <table id="ims" class="table table-bordered table-hover">
                <tr>
        <td>
        <md-input-container  style="margin: 0px !important;" class="md-block">
            <input type="text" ng-model="filtro.NOMBRE">
        </md-input-container>
        </td>
        <td>
          <md-input-container style="margin: 0px !important;" class="md-block">
            <input type="text" ng-model="filtro.ESTUDIO">
          </md-input-container>
        </td>
        </tr>
        <tr style="background-color: rgb(61,81,181); color: white;">
        <td>NOMBRE</td><td>ESTUDIO</td>
        </tr>
          <tr ng-repeat="especialidad in especialidades | filter:filtro:strict">
            <td>{{ especialidad.NOMBRE }}</td>
            <td ng-if="especialidad.ESTUDIO == 0">NO</td>
            <td ng-if="especialidad.ESTUDIO == 1">SI</td>
            <td>
                <md-button data-toggle="modal" ng-click="LlenarModal(especialidad.IDESPECIALIDAD)" data-target="#Modificar" class="md-fab md-icon-button md-raised md-mini">
                <md-tooltip md-direction="top">
                    Modificar
                </md-tooltip>
                <i class="material-icons">edit</i>
                </md-button>
                <md-button ng-click="Eliminar(especialidad.IDESPECIALIDAD)" aria-label="Facebook" class="md-fab md-icon-button md-raised md-mini">
                <md-tooltip md-direction="top">
                    Eliminar
                </md-tooltip>
                <i class="material-icons">delete</i>
                </md-button>
          </td>
          </tr>
         </table>
         
        </md-content>
      </md-tab>
    </md-tabs>

</div>
  